In [ ]:
#!pip install pyGithub

In [1]:
import requests
from pyspark.sql import SparkSession
import numpy  as np
import pandas as pd
import csv
import re

In [2]:
spark = SparkSession.builder.appName("HadoopTp").getOrCreate()

In [7]:
gcs_df  = pd.read_csv("./data/gcs.csv")

In [8]:
gcs_df.head()

,User ID,Time (UTC),Survey Completion,Publisher Category,Gender,Age,Geography,Weight,Question #1 Answer,Response Time #1 (ms)
0,100012282,2020-04-02 14:00:00,Complete,News,Unknown,Unknown,US-SOUTH-FL-Ocala,0.000000,None of the above / Not working for pay,9272
1,1000296325,2020-04-02 03:00:00,Complete,News,Male,55-64,US-SOUTH-AL,0.866021,I continue to commute to work,22582
2,1000475325,2020-04-01 22:00:00,Complete,Reference,Female,55-64,US-MIDWEST-MI,0.614649,None of the above / Not working for pay,5775
3,1000492508,2020-04-02 15:00:00,Complete,News,Male,55-64,US-SOUTH-TN-Nashville,0.866021,I continue to commute to work,20659
4,1000612950,2020-04-02 01:00:00,Complete,Other,Female,Unknown,US-SOUTH-FL,0.000000,None of the above / Not working for pay,9935